@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Tiny5&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Kode Mono","Chakra Petch", sans-serif;
}

.main-container {
    padding-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 50px;
}
button {
    font-size: 20px;
    width: 75px;
    height: 30px;
    border-radius: 10px;
}

.game-mode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
    position: fixed;
    z-index: 2;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid gray;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    height: 75px;
    width: 175px;
   
}
.overlay {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.295);
    top: 0%;
    width: 100%;
    height: 100%;
}

.board-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.board {
    display: flex;
    width: 420px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.squares {
    border: 1px solid rgb(58, 58, 58);
    width: 50px;
    height: 50px;
    background-color: rgb(166, 217, 252);
}

.destroyer {
    background-color: rgb(27, 27, 27);
}

.patrol-boat {
    background-color: rgb(128, 0, 0);
}

.battleship {
    background-color: rgb(184, 184, 184);
}

.submarine {
    background-color: rgba(255, 255, 0, 0.801);
}
.hit{
    background-image: url(/src/hit-fire.png);
    background-size: 100%;
}
.miss{
    background-image: url(/src/miss.png);
    background-size: 100%;
}

.hidden {
background-color: rgb(166, 217, 252);

}

.info {
    width: 170px;
    margin: auto;
    height: 55px;
    text-align: center;
}

#game-over {
    background-color: black;
}