* {
    margin: 0px;
    padding: 0px;
}

.main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.board {
    display: flex;
    width: 420px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.squares {
    border: 1px solid rgb(110, 110, 110);
    width: 50px;
    height: 50px;
}

.ship {
    background-color: rgba(0, 17, 255, 0.637);
}
.hit{
    background-color: red;
}
.miss{
    background-color: gray;
}

.info {
    width: 150px;
    height: 55px;
    text-align: center;
}